* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-size: 16px;
  font-family: sans-serif;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer !important;
}
footer {
  background-color: #132238;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 5rem;
  padding: 7rem 5rem;
}
footer .footer__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .footer__logo__icon {
  width: 50px;
  height: 50px;
  background-color: #a53dff;
  color: #fff;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
footer .footer__logo__text {
  font-size: 2rem;
  color: #fff;
}
footer .footer__nav__menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}
footer .footer__nav__menu a.link:hover {
  background-color: #fff !important;
  color: #a53dff !important;
}
footer .footer__nav__menu a:not(.link) {
  color: #8e97a3;
  padding: 5px;
  position: relative;
  outline: none;
  z-index: 9;
}
footer .footer__nav__menu a:not(.link)::after {
  content: "";
  width: 140%;
  height: 120%;
  background-color: #a53dff;
  position: absolute;
  top: -10%;
  left: 30%;
  transform: skewX(-23deg);
  border-radius: 5px;
  outline: none;
  border: none;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
footer .footer__nav__menu a:not(.link):hover {
  color: #fff;
}
footer .footer__nav__menu a:not(.link):hover::after {
  opacity: 1;
  left: -20%;
  z-index: -1;
}
footer .footer__copyright p,
footer .footer__copyright a {
  color: #fff;
}
