main .about-me {
  background: #c3feff;
  background: linear-gradient(126deg, #eefbfc 0%, #daccfc 34%, #e1a0eb 64%, #e4c073 100%);
  margin-top: 70px;
  padding: 1.25rem clamp(0.625rem, 4.236vw, 6.25rem);
  position: relative;
  height: 1300px;
}
@media (max-width: 900px) {
  main .about-me {
    height: 1200px;
  }
}
@media (max-width: 800px) {
  main .about-me {
    height: 1400px;
  }
}
main .about-me__container {
  width: 75vw;
  position: relative;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 2rem;
}
main .about-me__container .about-me__text {
  grid-column: 1 / 1 span;
  grid-row: 1 / 2 span;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .about-me__container .about-me__text .about-me__text__heading {
  color: #132238;
  width: 55%;
  font-size: clamp(2rem, 2.4333rem, 2.5rem);
}
main .about-me__container .about-me__text .about-me__text__para {
  color: #8e97a3;
  line-height: 2rem;
  font-size: clamp(1rem, 1.2167rem, 1.25rem);
}
main .about-me__container .about-me__text .about-me__text__para__mark {
  background-color: #a53dff;
  padding: 3px 5px;
  border-radius: 5px;
  color: #fff;
}
main .about-me__container .about-me__text .link {
  font-size: 1rem;
}
main .about-me__container__statics {
  grid-column: 1 / 1 span;
  grid-row: 5 / 1 span;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
main .about-me__container__statics .statics__box {
  flex: 1 1 150px;
  padding: 5px 0;
  background-color: #f6ebfe;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  color: #132238;
}
main .about-me__container__statics .statics__box__number {
  font-size: 1.5rem;
  font-weight: 600;
}
main .about-me__container__statics .statics__box__contex {
  font-size: 1rem;
}
main .about-me__container__image {
  border-radius: 5%;
  grid-column: 2 / 1 span;
  grid-row: 1 / 5 span;
}
main .about-me__container__image img {
  background-color: #fff;
  display: block;
  margin: 0 0 auto auto;
  width: 80%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
}
@media (max-width: 1065px) {
  main .about-me__container__image img {
    width: 90%;
  }
}
@media (max-width: 970px) {
  main .about-me__container__image img {
    width: 100%;
  }
}
@media (max-width: 640px) {
  main .about-me__container__image img {
    border-radius: 50%;
    height: 100%;
  }
}
@media (max-width: 440px) {
  main .about-me__container__image img {
    height: 50%;
  }
}
@media (max-width: 900px) {
  main .about-me__container__statics {
    grid-column: 1 / 3 span;
  }
  main .about-me__container__image {
    grid-row: 1 / 4 span;
  }
}
@media (max-width: 760px) {
  main .about-me__container .about-me__text .about-me__text__heading {
    width: 100%;
  }
  main .about-me__container__image {
    grid-row: 1 / 2 span;
  }
  main .about-me__container__image img {
    width: 100%;
  }
}
@media (max-width: 640px) {
  main .about-me__container__image {
    grid-row: 1 / 1 span;
  }
  main .about-me__container__statics {
    grid-column: 2 / 1 span;
    grid-row: 2 / 1 span;
    gap: 5px;
  }
  main .about-me__container__statics .statics__box {
    padding: 0;
  }
}
main .about-me__project {
  position: absolute;
  bottom: -7%;
  left: 50%;
  width: 75vw;
  padding: 4rem clamp(0.625rem, 4.236vw, 6.25rem);
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  transform: translateX(-50%);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
main .about-me__project__image {
  position: relative;
  z-index: 2;
  width: 35%;
  height: 400px;
  background-color: #f0f1f3;
  border-radius: 5px;
}
main .about-me__project__image .image-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
main .about-me__project__image .image-box img {
  width: 120%;
  height: 120%;
  object-fit: cover;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
main .about-me__project__image__brands,
main .about-me__project__image .brands {
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 50px;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
main .about-me__project__image__brands .brands-box,
main .about-me__project__image .brands .brands-box {
  flex: 1 1;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
main .about-me__project__image__brands .brands-box a svg,
main .about-me__project__image .brands .brands-box a svg {
  width: 30px;
  height: 30px;
  padding: 5px;
  fill: #a53dff;
  background-color: #ffffff;
  border-radius: 5px;
  transition: all 0.3s;
}
main .about-me__project__image__brands .brands-box a svg:hover,
main .about-me__project__image .brands .brands-box a svg:hover {
  background-color: #a53dff;
  fill: #fff;
}
main .about-me__project__text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
main .about-me__project__text .brands {
  display: none;
}
main .about-me__project__text__heading {
  color: #132238;
  font-size: 2rem;
}
main .about-me__project__text__para {
  color: #8e97a3;
  font-size: 1rem;
}
main .about-me__project__text__buttons {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}
main .about-me__project__text__buttons .link {
  height: 50px;
  font-size: 1rem;
}
main .about-me__project__text__buttons .download-link {
  display: flex;
  align-items: baseline;
  gap: 5px;
  background-color: #fff !important;
  border: 1px solid #a53dff;
  color: #a53dff !important;
  transition: all 0.5s;
}
main .about-me__project__text__buttons .download-link svg {
  width: 1rem;
  height: 1rem;
  fill: #a53dff;
  transition: all 0.5s;
}
main .about-me__project__text__buttons .download-link:hover {
  background-color: #132238 !important;
  border-color: #132238;
  color: #fff !important;
}
main .about-me__project__text__buttons .download-link:hover svg {
  fill: #fff;
}
@media (max-width: 940px) {
  main .about-me__project {
    flex-direction: column-reverse;
    gap: 10px;
    padding: 2rem clamp(0.625rem, 4.236vw, 6.25rem);
    height: max-content;
  }
  main .about-me__project .brands {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  main .about-me__project .brands .brands-box {
    flex: 1 1 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  main .about-me__project .brands .brands-box a svg {
    width: 30px;
    height: 30px;
    padding: 5px;
    fill: #a53dff;
    border-radius: 5px;
    transition: all 0.3s;
  }
  main .about-me__project .brands .brands-box a svg:hover {
    background-color: #a53dff;
    fill: #fff;
  }
  main .about-me__project__image {
    display: none;
  }
  main .about-me__project__text {
    width: 100%;
  }
}
