@import "../base/_variable.less";

.link{
    width: max-content !important;
    padding: 15px !important;
    border-radius: 5px !important;
    background-color: @bg-color !important;
    color: #fff !important;
    font-weight: 600 !important;
}